<div [ngClass]="modeView">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem adipisci blanditiis doloribus natus consequatur
    necessitatibus consectetur accusamus accusantium reprehenderit, sapiente voluptas deserunt! Maxime minus corrupti
    praesentium voluptatibus fugiat, totam aperiam!
  </p>
  <p appColor>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptate molestiae cumque. Est
    praesentium ad eligendi suscipit ut, qui error consequatur dolore ipsa deserunt reprehenderit accusamus ab fuga
    nostrum? Quibusdam?
  </p>
</div>
<div>
  Text - <ng-container *ngIf="!show">Hide</ng-container><ng-container *ngIf="show">Show</ng-container>
</div>
<div [ngClass]="{'active': isActive === true, 'focus': isActive === false}" *ngIf="show">Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Aperiam accusamus quos placeat temporibus, molestias facilis nihil explicabo vel,
  quaerat voluptate consequatur doloribus consequuntur dicta, optio repellat culpa sapiente praesentium nam.
</div>
<button (click)="toggleBlock()">Show/Hide</button>
<br>


{{ date | date:'dd MMMM yyyy' }}
<br>
{{ salary | currency }}
<br>
{{ text | slice:0:10 }}
<br>
{{ text | string:10 }}

<div *ngFor="let product of products | order: 'up' ">
  {{ product.name }} {{ product. price }}
</div>